*{
	margin:0px;
	padding:0px;
}
.bord{
	border:1px solid red;
}
a{
	text-decoration:none;
	outline:none;
}
img{
	border:0px;
}
input{
	outline:none;
	border:0px;
}

.head{
	width:100%;
	height:100px;
 	border-bottom:2px solid #cccccc;
}

.logo{
	width:200px;
	height:72px;
	float:left;
	margin-top:10px;
	margin-left:140px;
	float:left;
}
.search{
	width:504px;
	height:34px;
	float:left;
	margin-top:43px;
	font-size:13px;
	letter-spacing:1px;
	margin-left:50px;
}
.search_impot{
	width:280px;
	height:34px;
	background-color:#e3e3e3;
	font-size:14px;
	float:left;
	line-height:34px;
	color:#808080;
	text-indent:6px;
}
.search_search{
	width:50px;
	height:34px;
	background-color:#664f6a;
	color:white;
	cursor:pointer;
	float:left;
	border:0px;
	line-height:34px;
}
.service{
	width:270px;
	height:30px;
	float:left;
	margin-top:46px;
	margin-left:140px;
}
.service-tel{
	width:220px;
	margin-top:-32px;
	margin-left:30px;
}
.service a{
	color:red;
	font-size:26px;	
}
.nav{
	width:1200px;
	height:40px;
	margin:0 auto;
}
.nav ul{
	list-style:none;
	font-weight:bold;
}
.nav ul li{
	width:130px;
	height:40px;
	float:left;
}
.nav ul li:hover a{
	color:#fe9b00;
	margin-top:-2px;
}
.nav ul li:hover {
	border-top:2px solid #fe9b00;
}
.nav li a{
	float:left;
	font-size:16px;
	text-align:center;
	margin-left:30px;
	color:#67506b;
	line-height:40px;
}
.nav ul li:nth-child(5) a{
	color:#fe9b00;
	border-top:2px solid #fe9b00;
	margin-top:-2px;	
}
.nav_contact_us{
	border-top:2px solid #fe9b00;
}
.content{
	width:1200px;
	margin:0px auto;	
}
.content_img{
	width:1200px;
	height:200px;
}
.content_title{
	width:1200px;
	height:0px auto;
}
.content_title_left{
	width:148px;
	height:358px;
	float:left;
	border-right:1px solid #cccccc;
}
.content_left_subnav{
	width:148px;
	height:40px;
	font-size:16px;
	line-height:38px;
	font-weight:bold;
	font-family:풕턼환쥌;
	cursor:pointer;
	color:#808080;
	text-align:center;
}
.content_tab{
	width:148px;
	height:100px;
}
.content_tab ul{
	list-style:none;
}
.content_tab ul li{
	/* width:148px;
	height:48px; */
	font-size:16px;
	line-height:38px;
	font-weight:bold;
	font-family:풕턼환쥌;
	text-align:center;
}
.content_tab ul li a{
	color:#808080;
/* 	width:100%;
	height:100%; */
	width:148px;
	height:48px;
	display:block;
}
.content_tab ul li:hover{
	background-color:#664f6a;
	cursor:pointer;
}
.content_tab ul li:hover a{
	color:white;
	cursor:pointer;
}
.content_tab ul li:nth-child(1){
	/* background-color:#664f6a; */
}
.content_tab ul li:nth-child(1) a{
	/* color:white; */
	font-size:16px;
	line-height:38px;
	font-weight:bold;
	font-family:풕턼환쥌;
}
.content_title_right{
	width:1048px;
	height:358px;
	float:right;
}
.content_right_subnav{
	width:1005px;
	height:40px;
	margin-left:23px;
}
.content_left{
	width:180px;
	height:38px;
	float:left;
	font-size:16px;
	line-height:38px;
	font-weight:bold;
	font-family:풕턼환쥌;
	cursor:pointer;
}
.content_left_column_right{
	color:#808080;
}
.content_left span:hover{
	color:#fe9b00;
	cursor:pointer;
}
.content_right{
	width:170px;
	height:38px;
	float:right;
	font-size:12px;
	line-height:38px;
	font-weight:bold;
	font-family:풻稻
	color:#808080;
	cursor:pointer;
}
.content_right span{
	color:#0000ff;
}
.content_main{
	width:993px;
	height:313px;
	margin-left:23px;
	border-top:2px solid #cdcccc;
}
.content_main_left{
	width:310px;
	height:230px;
	margin-top:30px;
	float:left;
}
.content_main_left ul{
	list-style:none;
}
.content_main_left ul li{
	font-size:14px;
	line-height:30px;
	color:#808080;
	font-family:풕턼환쥌;
}
.content_main_right{
	width:530px;
	height:230px;
	margin-left:22px;
	float:left;
	margin-top:30px;
	color:red;
}

.friendlink{
	width:1200px;
	height:100px;
	background-color:#cdcccc;
	float:left;
}
.friendlink_top{
	width:250px;
	height:20px;
	margin-left:20px;
	margin-top:10px;
	cursor:pointer;
}
.left_friendlink_top{
	float:left;
	font-weight:bold;
}
.friendlink_trend{
	color:#808080;
	font-weight:bold;
}
.friendlink_top a:hover{
	color:red;
	cursor:pointer;
}
.friendlink_nav{
	width:1200px;
	height:70px;
}
.friendlink_nav ul{
	list-style:none;
}
.friendlink_nav ul li{
	width:100px;
	margin-left:20px;
	line-height:25px;
	float:left;
}
.friendlink_nav ul li a{
	font-size:12px;
	color:white;
}
.friendlink_nav ul li a:hover{
	color:#fe9b00;
	cursor:pointer;
}
.foot{
	width:1200px;
	height:100px;
	background-color:#eeeeee;
	clear:both;
	margin:0px auto;
}
.foot_copyright{
	width:500px;
	height:40px;
	padding-top:40px;
	margin:0px auto;
	font-size:12px;
	color:#7a7a7a;
}
.foot_copyright_top{
	width:430px;
	height:20px;
	margin:0px auto;
}
.foot_copyright_bottom{
	width:250px;
	height:20px;
	margin:0px auto;
}


.bottom1{
	width:1200px;
	height:100px;
	background-color:#eeeeee;
	clear:both;
	margin:0px auto;
}
.bottom_copyright{
	width:500px;
	padding-top:40px;
	margin:0px auto;
	font-size:12px;
	color:#7a7a7a;
}
.bottom_copyright_top{
	width:430px;
	height:20px;
	margin:0px auto;
}
.bottom_copyright_bottom{
	width:250px;
	height:20px;
	margin-top:10px;
	margin:0px auto;
}





.from_left{height:100%;}
.from_cen{ width:306px; height:100%;}
.p1{  width:167px; height:32px; border:1px solid #999; margin-bottom:4px; padding-left:10px; line-height:32px;}
.from_cen textarea{ width:400px; height:102px; margin-left:46px; border:1px solid #999; padding-left:10px; padding-top:5px; color:##8f8f8f; overflow-y:hidden; margin-bottom:10px; }
.from_right{ background:#FFAA25;  vertical-align:middle; border:1px solid #666;  margin-left:4px; width:108px; height:40px; cursor:pointer; color:#000000;}
.botton{ background:#FFAA25;  vertical-align:middle; border:1px solid #666;  margin-left:4px; width:108px; height:40px; cursor:pointer; color:#000000;}
.co{ margin-top:5px;}